# SERVER
SERVER_PORT=

# DATABASE
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_SYNC=

# OTHER ENV VARIABLE
NODE_ENV=
API_PREFIX=

# JWT
JWT_ACCESS_SECRET=
JWT_ACCESS_EXP=

JWT_REFRESH_SECRET=
JWT_REFRESH_EXP=